services:
  boltz-cln:
      build: 
        context: .
        dockerfile: cln.Dockerfile
      restart: unless-stopped
      container_name: boltz-cln
      healthcheck:
        test: ["CMD", "lightning-cli", "--network=regtest", "getinfo"]
        interval: 10s
        timeout: 5s
        retries: 10
      command:
        - --bind-addr=0.0.0.0:9735
        - --bitcoin-rpcconnect=bitcoin:18443
        - --bitcoin-rpcpassword=123 
        - --bitcoin-rpcuser=admin1
        - --log-level=debug
        - --network=regtest
        - --large-channels
        - --grpc-host=0.0.0.0
        - --grpc-port=9736
        - --plugin=/root/hold
        - --plugin=/root/clnurl
        - --ignore-fee-limits=false
        - --min-emergency-msat=1000000
      volumes:
        - cln_datadir:/root/.lightning/regtest
  boltz-lnd:
    image: lightninglabs/lnd:v0.19.1-beta
    restart: unless-stopped
    container_name: boltz-lnd
    healthcheck:
      test: ["CMD", "lncli", "--rpcserver=localhost:10009", "--macaroonpath=/root/.lnd/data/chain/bitcoin/regtest/admin.macaroon", "--tlscertpath=/root/.lnd/tls.cert", "getinfo"]
      interval: 10s
      timeout: 5s
      retries: 10
    command:
      - '--bitcoin.regtest'
      - '--bitcoin.node=bitcoind'
      - '--maxpendingchannels=10'
      - '--rpclisten=0.0.0.0:10009'
      - '--bitcoind.rpchost=bitcoin:18443'
      - '--bitcoind.rpcuser=admin1'
      - '--bitcoind.rpcpass=123'
      - '--bitcoind.zmqpubrawblock=tcp://bitcoin:28332'
      - '--bitcoind.zmqpubrawtx=tcp://bitcoin:28333'
      - '--db.bolt.auto-compact'
      - '--db.prune-revocation'
      - '--alias=Ark Labs'
      - '--tlsextradomain=boltz-lnd'
      - '--protocol.option-scid-alias'
      - '--protocol.wumbo-channels'
      - '--accept-keysend'
      - '--minchansize=25000'
      - '--noseedbackup'
      - '--gc-canceled-invoices-on-startup'
      - '--coin-selection-strategy=random'
      - '--protocol.custom-message=513'
      - '--protocol.custom-nodeann=39'
      - '--protocol.custom-init=39'
      - '--no-rest-tls'
      - '--restcors=*'
    volumes:
      - lnd_datadir:/root/.lnd
    ports:
      - '9736:9735'
      - '10010:10009'
  boltz:
    restart: unless-stopped
    image: boltz/boltz:ark
    ports:
      - '9000:9000'
      - '9001:9001'
      - '9004:9004'
      - '9005:9005'
    expose:
      - '9001'
      - '9004'
      - '9005'
    depends_on:
      boltz-postgres:
        condition: service_healthy
      boltz-fulmine:
        condition: service_healthy
      boltz-lnd:
        condition: service_healthy
    environment:
      BOLTZ_CONFIG: |
        loglevel = "debug"
        network = "regtest"
        [ark]
        host = "boltz-fulmine"
        port = 7000
        
        [api]
        host = "0.0.0.0"
        port = 9001
        cors = "*"

        [grpc]
        host = "0.0.0.0"
        port = 9000

        [sidecar]
        [sidecar.grpc]
        host = "0.0.0.0"
        port = 9003

        [sidecar.ws]
        host = "0.0.0.0"
        port = 9004

        [sidecar.api]
        host = "0.0.0.0"
        port = 9005

        [postgres]
        host = "boltz-postgres"
        port = 5432
        database = "boltz"
        username = "postgres"
        password = "postgres"

        [swap]
        deferredClaimSymbols = [ "BTC" ]

        [[pairs]]
        base = "ARK"
        quote = "BTC"
        rate = 1
        fee = 0.4
        swapInFee = 0.01
        invoiceExpiry = 361
        maxSwapAmount = 4294967
        minSwapAmount = 1000

        [pairs.timeoutDelta]
        reverse = 1440
        chain=1440
        swapMinimal = 1440
        swapMaximal = 2880
        swapTaproot = 10080

        [[currencies]]
        symbol = "BTC"
        network = "bitcoinRegtest"
        minWalletBalance = 10000000
        minLocalBalance = 10000000
        minRemoteBalance = 10000000
        maxSwapAmount = 4294967
        minSwapAmount = 50000
        maxZeroConfAmount = 100000
        preferredWallet = "core"

        [currencies.chain]
        host = "bitcoin"
        port = 18443
        user = "admin1"
        password = "123"

        [currencies.lnd]
        host = "boltz-lnd"
        port = 10009
        certpath = "/home/boltz/.lnd/tls.cert"
        macaroonpath = "/home/boltz/.lnd/data/chain/bitcoin/regtest/admin.macaroon"

        [currencies.cln]
        host = "boltz-cln"
        port = 9736
        rootCertPath = "/home/boltz/.cln/ca.pem"
        privateKeyPath = "/home/boltz/.cln/client-key.pem"
        certChainPath = "/home/boltz/.cln/client.pem"

        [currencies.cln.hold]
        host = "boltz-cln"
        port = 9292
        rootCertPath = "/home/boltz/.cln/hold/ca.pem"
        privateKeyPath = "/home/boltz/.cln/hold/client-key.pem"
        certChainPath = "/home/boltz/.cln/hold/client.pem"

        [nodeSwitch]
        clnAmountThreshold = 1000
    volumes:
      - boltz_datadir:/home/boltz/.boltz
      - lnd_datadir:/home/boltz/.lnd
      - cln_datadir:/home/boltz/.cln
    entrypoint: sh -c 'echo "$$BOLTZ_CONFIG" > /home/boltz/.boltz/boltz.config && boltzd --datadir /home/boltz/.boltz --configpath /home/boltz/.boltz/boltz.config'
  boltz-postgres:
    image: postgres:15.4
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 5s
      timeout: 3s
      retries: 5
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: boltz
      POSTGRES_HOST_AUTH_METHOD: trust
    expose:
      - '5432'
    volumes:
      - postgres_datadir:/var/lib/postgresql/data
  boltz-fulmine:
    build:
      context: .
      dockerfile: Dockerfile
    healthcheck:
      test: ["CMD-SHELL", "! curl -s http://localhost:7001/api/v1/info | jq -e .code > /dev/null"]
      interval: 30s
      timeout: 3s
      retries: 30
    environment:
      - FULMINE_ARK_SERVER=http://arkd:7070
      - FULMINE_ESPLORA_URL=http://chopsticks:3000
      - FULMINE_NO_MACAROONS=true
    ports:
      - 7002:7000
      - 7003:7001
    volumes:
      - bitcoin_fulmine_data:/app/data
    restart: unless-stopped

volumes:
  postgres_datadir:
    name: postgres_datadir
  boltz_datadir:
    name: boltz_datadir
  bitcoin_fulmine_data:
    name: bitcoin_fulmine_data
  lnd_datadir:
    name: lnd_datadir
  cln_datadir:
    name: cln_datadir


networks:
  default:
    name: nigiri
    external: true
# Update: 2025-10-18
