package pages

templ IndexBodyContent() {
	<div hx-ext="sse" sse-connect="/events">
	  <div hx-get="/hero" hx-trigger="load, sse:TXS_ADDED, sse:TXS_CONFIRMED, sse:TXS_REPLACED" />
	  <div hx-get="/txs" hx-trigger="load, sse:TXS_ADDED, sse:TXS_CONFIRMED, sse:TXS_REPLACED" />
	</div>
}
