package pages

import (
	"github.com/ArkLabsHQ/ark-node/internal/interface/web/templates/components"
	"github.com/ArkLabsHQ/ark-node/internal/interface/web/types"
)

templ IndexBodyContent(currentBalance, arkAddress string, transactions []types.Transaction, online, connected bool) {
	@components.Hero(arkAddress, currentBalance, online, connected)
	<div hx-ext="sse" sse-connect="/events">
	  <div hx-get="/txs" hx-trigger="load, sse:TXS_ADDED" />
	</div>
}
