package modals

import (
	"github.com/ArkLabsHQ/fulmine/internal/interface/web/templates/components"
)

templ SeedInfoBody(seed string) {
  <div class="flex flex-col gap-4">
    <p class="text-center text-lg font-semibold">Your Private Key</p>
    <p class="break-words" id="seed">{seed}</p>
    @components.CopyButton(seed)
  </div>
}

templ SeedInfo(seed string) {
  @Modal(SeedInfoBody(seed))
}