package components

templ CodeSample(code string) {
  <div class="bg-white/10 border border-white/20 p-2 rounded-lg w-full">
    <div class="flex justify-between items-start gap-4">
      <p class="p-2 text-white text-wrap break-words">{code}</p>
			@CopyButton(code)
    </div>
  </div>
}
