package components

templ DesktopHeader() {
	<div class="hidden md:flex justify-between items-center p-3 mb-5 bg-desktopbg rounded-lg w-full">
	  <a href="/">
		  <div class="flex gap-2 items-center text-orange">
	      @LogoOrange()
		  	@LogoNameSmall()
		  </div>
		</a>
		<a href="/settings/general">
      @SettingsButton()
		</a>
	</div>
}