package components

templ DesktopHeader() {
	<div class="hidden md:flex justify-between items-center p-3 mb-2 bg-desktopbg rounded-lg w-full">
	  <a href="/app">
		  <div class="flex items-center text-orange">
	      @Logo()
		  	<div>
		  	  <p class="leading-4 font-bold">ARK</p>
		  		<p class="leading-4 font-bold">NODE</p>
		  	</div>
		  </div>
		</a>
		<a href="/app/settings/general">
      @SettingsIcon()
		</a>
	</div>
}